[Unit]
Description=Shoresy Chirp Generator for Slack
After=network.target

[Service]
WorkingDirectory=/home/shoresy
ExecStart=/usr/bin/env pipenv run start
ExecStartPre=/usr/bin/env pipenv install
Restart=always
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=multi-user.target
